*.pyc
*~
__pycache__
.DS_Storegit
._.*
._*
.DS_Store
__MACOSX/._arc.py
__MACOSX/._basics.py
__MACOSX/._data.json
__MACOSX/._ezdxf.png
__MACOSX/._ezdxfdoc.py
__MACOSX/._networkxdoc.py
__MACOSX/dxfFilesIn/._in.dxf
.vscode/settings.json
Algorithms/LineBWRectangleAlgo/input/#IN.dxf
Algorithms/LineBWRectangleAlgo/output/#center_lines.dxf
Algorithms/LineBWRectangleAlgo/output/center_lines.dxf
Algorithms/LineBWRectangleAlgo/tempCodeRunnerFile.py
Algorithms/LineBWRectangleAlgo/tempCodeRunnerFile.py
Algorithms/LineBWRectangleAlgo/tempCodeRunnerFile.py
Algorithms/LineBWRectangleAlgo/tempCodeRunnerFile.py
Algorithms/LineBWRectangleAlgo/output/#IN_output.dxf
Algorithms/LineBWRectangleAlgo/output/#sample1_output.dxf
Algorithms/LineBWRectangleAlgo/output/IN_output.dxf
Algorithms/LineBWRectangleAlgo/output/sample1_output.dxf
Algorithms/LineBWRectangleAlgo/output/sample3_output.dxf
.vscode/.ropeproject/config.py
.vscode/.ropeproject/objectdb
Algorithms/LineBWRectangleAlgo/output/#RECTANGAL_output.dxf
Algorithms/LineBWRectangleAlgo/output/#sample3_output.dxf
Algorithms/LineBWRectangleAlgo/output/#sample4_output.dxf
Algorithms/LineBWRectangleAlgo/output/RECTANGAL_output.dxf
Algorithms/LineBWRectangleAlgo/output/sample2_output.dxf
Algorithms/LineBWRectangleAlgo/output/sample4_output.dxf
Algorithms/LineBWRectangleAlgo/output/#HORIZONTAL_output.dxf
Algorithms/LineBWRectangleAlgo/output/#sample2_output.dxf
Algorithms/LineBWRectangleAlgo/output/#sample5_output.dxf
Algorithms/LineBWRectangleAlgo/output/#sample6_output.dxf
Algorithms/LineBWRectangleAlgo/output/#VERTICAL_output.dxf
Algorithms/LineBWRectangleAlgo/output/HORIZONTAL_output.dxf
Algorithms/LineBWRectangleAlgo/output/sample5_output.dxf
Algorithms/LineBWRectangleAlgo/output/sample6_output.dxf
Algorithms/LineBWRectangleAlgo/output/VERTICAL_output.dxf
graph_image.jpg
dxfFilesOut/debug_graphs/