asgiref==3.2.10
autopep8==1.5.4
backcall==0.2.0
boto3==1.14.51
botocore==1.17.51
certifi==2020.6.20
cycler==0.10.0
decorator==4.4.2
dj-database-url==0.5.0
Django==3.1
django-cors-headers==3.5.0
django-heroku==0.3.1
django-storages==1.9.1
djangorestframework==3.11.1
docutils==0.15.2
ezdxf==0.14
gunicorn==20.0.4
ipykernel==5.3.4
ipython==7.19.0
ipython-genutils==0.2.0
jedi==0.17.2
jmespath==0.10.0
jupyter-client==6.1.7
jupyter-core==4.7.0
kiwisolver==1.2.0
matplotlib==3.3.2
mpmath==1.1.0
networkx==2.5
numpy==1.19.2
parso==0.7.1
pexpect==4.8.0
pickleshare==0.7.5
Pillow==7.2.0
prompt-toolkit==3.0.8
psycopg2==2.8.5
ptyprocess==0.6.0
pycodestyle==2.6.0
Pygments==2.7.2
pyparsing==2.4.7
python-dateutil==2.8.1
pytz==2020.1
pyzmq==20.0.0
s3transfer==0.3.3
Shapely==1.7.1
six==1.15.0
sqlparse==0.3.1
sympy==1.6.2
toml==0.10.2
tornado==6.1
traitlets==5.0.5
urllib3==1.25.10
wcwidth==0.2.5
whitenoise==5.2.0
